<!DOCTYPE html>
<html>
<body>

<h1>3 Times Multipier</h1>

<form id="only-form">
  <label for="sample-text">Sample Text:</label>
  <input type="text" id="text-one" name="sample-text"><br><br>
  <label for="lname">Text:</label>
  <textarea id="long-text" rows="7" cols="70"></textarea><br><br>
  <button type="submit" id="send-button">Send</button>
  <!-- <input type="submit" value="Submit">  -->
</form><br><br>
<div id="for-result"></div>

</body>
<script src="./index.js"></script>
</html>